{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Bom dia, {{g.user['username']}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="investment-block">
    <h2>Total Invested</h2>
    <p>${{performance}}</p>
    <button id="addInvestmentButton" onclick="addInput()">Add Investment</button>
</div>
<!--
*Form block to input investment, currenty display set to none
*Needs to change display on click in "Add Investment", and changed back to none
after user submits it.
-->
<form style="display: none;" id="form-investment" action="/create" method="post">
    <label for="investment_amount">Investment Amount (in USD):</label>
    <input type="number" id="investment_amount" name="investment_amount" step="0.01" min="0" required>
    <br><br>

    <!-- Cryptocurrency Selection -->
    <label for="coin_name">Cryptocurrency:</label>
    <select id="coin_name" name="coin_name" required>
        <option value="bitcoin">Bitcoin</option>
        <option value="ethereum">Ethereum</option>
    </select>
    <br><br>

    <!-- Cryptocurrency price at the time -->
    <label for="investment_amount">Cryptocurrency Amount:</label>
    <input type="number" id="crypto_amount" name="crypto_amount" step="0.01" required>
    <br><br>

    <!-- Purchase Date Input -->
    <label for="purchase_date">Purchase Date:</label>
    <input type="date" id="investment_date" name="investment_date" required>
    <br><br>

    <!-- Submit Button -->
     <div>
        <button type="submit">Submit Investment</button>
        <button onclick="addInput()" type="submit">Cancel</button>
     </div>
</form>
<div id="transaction-history"></div>
<!--Coin invested, date, transaction id, amount invested in dollars, gains or loss-->
<p>here goes all transactions</p>
{% for investment in investments_made %}
<div id="investments-made">
    <p id="coin_name">{{investment['coin_name']}}</p>
    <p>#id{{investment['id']}}</p>
    <p id="purchase_date">{{investment['purchase_date']}}</p>
    <p id="amount">{{investment['amount']}}</p>
    <p id="purchase_price">${{investment['purchase_price']}}</p>
    <div id="delete-edit-investments-buttons">
        <form action="{{url_for('home.delete_investment', id = investment['id'])}}" method="post">
            <button onclick="return confirm('Are you sure?');">delete</button>
        </form>
        <form>
            <button>edit</button>
        </form>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
{% block script %}
<script>
    function addInput() {
        console.log("inside addinput function")
        const input = document.getElementById('form-investment');
        const addInvestmentButton = document.getElementById('addInvestmentButton')
        if (input.style.display === 'none') {
            input.style.display = 'block';
            addInvestmentButton.disabled = true;
            console.log("Display have changed to BLOCK");
        } else {
            input.style.display = 'none';
            addInvestmentButton.disabled = false;
            console.log("Display have changed to NONE")
        }
    }
</script>
{% endblock %}