{% extends 'base.html' %}

{% block header %}
<div id="header-name-monetary">
    <h1>{% block title %}Good Morning, {{g.user['username']}}{% endblock %}</h1>
    <p>Monetary system: BRL</p>
    <form style="display: none;" action="{{ url_for('home.index') }}" method="get">
        <button style="display: none;" type="submit">Switch to USD</button>
    </form>
</div>
{% endblock %}

{% block content %}
<div id="investment-block">
    <h2>Total Invested</h2>
    <p>R${{performance}}</p>
    <button id="addInvestmentButton" onclick="addInput()">Add Investment</button>
</div>
<!--
*Form block to input investment, currenty display set to none
*Needs to change display on click in "Add Investment", and changed back to none
after user submits it.
-->
<form style="display: none;" id="form-investment" action="/create" method="post">
    <label for="investment_amount">Investment Amount (in BRL):</label>
    <input type="number" id="investment_amount" name="investment_amount" step="0.01" min="0" required>
    <br><br>

    <!-- Cryptocurrency Selection -->
    <label for="coin_name">Cryptocurrency:</label>
    <select id="coin_name" name="coin_name" required>
        <option value="bitcoin">Bitcoin</option>
        <option value="ethereum">Ethereum</option>
    </select>
    <br><br>

    <!-- Cryptocurrency amount at the time -->
    <label for="investment_amount">Cryptocurrency Amount:</label>
    <input type="number" id="crypto_amount" name="crypto_amount" step="0.00000001" required>
    <br><br>

    <!-- Purchase Date Input -->
    <label for="purchase_date">Purchase Date:</label>
    <input type="date" id="investment_date" name="investment_date" required>
    <br><br>

    <!-- Submit Button -->
     <div>
        <button type="submit">Submit Investment</button>
        <button onclick="addInput()" type="submit">Cancel</button>
     </div>
</form>
<div id="transaction-history"></div>
<!--Coin invested, date, transaction id, amount invested in dollars, gains or loss-->
<p>Transaction History</p>
<table id="transactions-table">
    <thead>
        <tr>
            <th>Coin Name</th>
            <th>Transaction ID</th>
            <th>Purchase Date</th>
            <th>BTC Amount</th>
            <th>Purchase Price</th>
            <th>Profit/Loss</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for investment in investments_made %}
        <tr>
            <td>{{investment['coin_name']}}</td>
            <td>#{{investment['id']}}</td>
            <td>{{investment['purchase_date']}}</td>
            <td>{{investment['amount']}}</td>
            <td>R${{investment['purchase_price']}}</td>
            <td class="profit-loss" data-profit="{{ investment['profit_loss'] }}">
                R${{investment['profit_loss']}}
            </td>
            <td>
                <form action="{{url_for('home.delete_investment', id=investment['id'])}}" method="post" style="display:inline;">
                    <button onclick="return confirm('Are you sure?');">Delete</button>
                </form>
                <form style="display:none;">
                    <button>Edit</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
{% block script %}
<script>
    function addInput() {
        console.log("inside addinput function")
        const input = document.getElementById('form-investment');
        const addInvestmentButton = document.getElementById('addInvestmentButton')
        if (input.style.display === 'none') {
            input.style.display = 'block';
            addInvestmentButton.disabled = true;
            console.log("Display have changed to BLOCK");
        } else {
            input.style.display = 'none';
            addInvestmentButton.disabled = false;
            console.log("Display have changed to NONE")
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        const profitLossElements = document.querySelectorAll('.profit-loss');
        
        profitLossElements.forEach(function (element) {
            const profitValue = parseFloat(element.getAttribute('data-profit'));
            
            if (profitValue >= 0) {
                element.style.color = 'green';
            } else {
                element.style.color = 'red';
            }
        });
    });
</script>
{% endblock %}